<div class="about-main">
  <a id="open-menu" href="#menu"><img alt="Open" class="icon-menu" src="http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" width="24px"></a>
  <div class="content container">
    <h1>Relive your favorite memories</h1>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <p><a class="btn btn-primary" href="/signups/new">Sign up</a></p>
  </div>
</div>
